*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}

body{
background:#020617;
color:white;
overflow-x:hidden;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:#020617;
position:fixed;
width:100%;
top:0;
}

.logo{
font-size:24px;
font-weight:700;
}
.logo span{color:#22c55e}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:600;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:0 8%;
background:linear-gradient(120deg,#020617,#020617,#071a2f);
}

.hero-text{
max-width:700px;
}

.hero h1{
font-size:50px;
}

.hero h3{
color:#22c55e;
margin:10px 0;
font-size:22px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 35px;
background:#22c55e;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
}

section{
padding:100px 8%;
}

h2{
font-size:35px;
margin-bottom:25px;
color:#22c55e;
}

.info{
display:flex;
gap:20px;
margin-top:20px;
flex-wrap:wrap;
}

.info div{
background:#020617;
padding:12px 18px;
border:1px solid #22c55e30;
border-radius:8px;
}

.exp .card{
background:#020617;
padding:25px;
margin-bottom:20px;
border-radius:12px;
border:1px solid #22c55e30;
transition:.3s;
}

.exp .card:hover{
transform:scale(1.03);
box-shadow:0 0 20px #22c55e60;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.box{
background:#020617;
padding:20px;
text-align:center;
border-radius:10px;
border:1px solid #22c55e30;
}

.contato{
text-align:center;
}

.btn-wpp,.btn-email{
display:inline-block;
margin:15px;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
}

.btn-wpp{background:#25D366}
.btn-email{background:#2563eb}

footer{
text-align:center;
padding:30px;
background:#020617;
color:#94a3b8;
}
